body {
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: max(120px, 20%) auto;
    justify-self: center;
    width: 80%;
}

.header {
    background-color: aqua;
    grid-column: 2;
    display: grid;
    grid-template-rows: 33% 67%;
}

.header-top {
    background-color: coral;
    display: grid;
    grid-template-columns: 70% 30%;
}

.left {
    background-color: cornsilk;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    padding: 10px;
}

.left input {
    justify-self: stretch;
    border-radius: 10px;

}

.left img {
    justify-self: center;
}

.right {
    background-color: darkviolet;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.right img {
    justify-self: center;
    align-self: center;
}

.header-bottom {
    background-color: crimson;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lower-left {
    background-color: lime;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.lower-left img {
    align-self: center;
    justify-self: end;

}


.lower-right {
    background-color: hotpink;
    /* display: grid; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
   
}

.sidebar {

    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
  
   
}

.logo {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;

}

.logo img {
    background-color: chartreuse;
    align-self: center;
    justify-self: right;
}

.logo h1 {
    background-color: gray;
    font-size: 25px;
}

.sidebar-menu {
    background-color: pink;
    display: grid;
}

.sidebar-link {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 2px solid blue;
    gap: 10px;
}

.sidebar-link img {
    border: 1px solid green;
    justify-self: right;
    align-self: center;
}

.sidebar-link p {
    border: 1px solid purple;
}

.main-content {
    background-color: chocolate;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2;
    grid-row: 2;
}

.projects {
    background-color: cadetblue;
    display: grid;
    grid-template-rows: 30px auto;
}

.project-title {
    background-color: wheat;
    padding-left: 20px;
}

.project-cards {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 5px 10px 5px 10px;

}

.card {
    background-color: darkgoldenrod;
    border-radius: 10px;
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.line {
    background-color: orange;
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-icons {
    align-self: flex-end;
}

.main-right {
    background-color: mediumpurple;
}